html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header{grid-area:header;}
nav{grid-area:meny;}
main{grid-area:main;}
footer{grid-area:footer;}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 75px auto auto auto auto;
    grid-template-areas:
        'header header header header header'
        'meny main main main main'
        'meny main main main main'
        'meny main main main main'
        'footer footer footer footer footer';
    height: 100vh;
    width: 100vw;
}

.red {
    color: red;
}

body {
    /* background-color: #BE272F ; */
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* text-align: center; */
    font-family: monospace;
    
}

nav {
    /* width: 200px; */
    /* padding: 1rem; */
    border: 1px solid black;
    /* display: flex;
    align-items: center; */
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    width: 80%;
    height: 50px;
    background-color: #a81d24;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* margin-left: 1rem; */
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(200, 200, 200);
    width: 100%;
}

header {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* height: 75px; */
    align-items: center;
    /* font-size: 2rem; */
    /* padding-left: 2rem; */
}

main {
    border: 1px solid black;
    text-align: center;
}

footer {
    border: 1px solid black;
    height: 100%;
    /* padding-left: 2rem; */
}


@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 75px 150px auto 150px;
        grid-template-areas:
            'header'
            'meny'
            'main'
            'footer';
    }
    nav ul li {
        width: 100%;
    }
    header {
        justify-content: center;
        padding-left: 0;
    }
}
