html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(237, 237, 237);
}

main {
    width: 30%;
    height: 50%;
    background: lightgreen;
    border-radius: 10px;
    /* text-align: center; */
    padding:20px;
    padding-bottom: 50px;
}

h1 {
    margin-top: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

input {
    /* width: 80%; */
    height: 30px;
    border-radius: 5px;
    border: 0px solid;
    margin-bottom: 10px;
}

form {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    margin: 20px;
    color: rgb(110, 110, 110);
}

button {
    color: white;
    background: blue;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0 solid;
}