html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(10, 10, 30);
}

header{
    color: white;
    text-align: center;
    margin-top: 50px;
}

header h1, header p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header p{
    color:rgb(172, 170, 170);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap:wrap;
}

.divene {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    background: rgb(20, 20, 30);
    margin-top: 20px;

}

.divene img{
    max-width: 300px;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
}